body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.filter-sort-area {
    margin-top: 9vh;
    padding: 10px 0;
    background-color: #f8f8f8;
    text-align: center;
}

.filters .label, .sorting .label {
    display: inline-flex; 
    align-items: center; 
    font-weight: bold;
    margin-right: 5px;
}

.button {
    padding: 8px 16px;
    margin: 5px;
    background-color: #e0e0e0; 
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.button.active, .button:focus, .button:active {
    background-color: #666;     
    color: #fff;
    outline: none; /* Removes the default outline */
    box-shadow: 0 0 0 2px #666; /* Adds a subtle outline */
}

.content, footer {
    width: calc(100% - 40px);
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.gallery {
    width: 100%;
    display: block;
}

.grid-sizer, .photo {
    width: 24%;
}

.gutter-sizer {
    width: 1.33%;
}

.photo {
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
}

.details {
    font-size: 0.8em;
    text-align: center;
    padding: 5px 0;
}

.exif {
    margin: 0 12px; 
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

#Modal {
    display: none; /* 默认不显示 */
    position: fixed; /* 固定位置，覆盖整个视口 */
    z-index: 1000; /* 高层级确保显示在顶部 */
    left: 0;
    top: 0;
    width: 100%; /* 宽度为视口宽度 */
    height: 100%; /* 高度为视口高度 */
    overflow: hidden; /* 防止内容滚动 */
    background-color: rgba(0, 0, 0, 0.9); /* 半透明黑色背景 */
}

#modalImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%; /* 最大高度小于100%以避免接触边缘 */
    max-width: 95%; /* 最大宽度也是，以保持一定边距 */
    width: auto;  /* 宽度自适应，保证图片比例 */
    height: auto; /* 高度自适应，保证图片内容 */
}

/* 关闭按钮样式 */
.close {
    position: absolute;
    top: 15px;
    right: 30px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s;
}

/* 鼠标悬浮在关闭按钮上时 */
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .grid-sizer, .photo {
        width: 100%;
    }
    .filters {
        display: none; /* 隐藏原始按钮 */
    }
    .dropdown {
        display: block; 
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .grid-sizer, .photo {
        width: 49%;
    }
    .gutter-sizer {
        width: 2%;
    }
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .grid-sizer, .photo {
        width: 32%;
    }
    .gutter-sizer {
        width: 2%;
    }
    .filters {
        display: flex;                /* 开启弹性盒模型 */
        overflow-x: auto;             /* 超出部分允许水平滚动 */
        flex-wrap: nowrap;            /* 禁止按钮折行 */
        white-space: nowrap;          /* 确保所有内容在一行显示，防止换行 */ 
        padding: 0 30px;        
    }
}

@media (min-width: 2560px) {
    .grid-sizer, .photo {
        width: 19%;
    }
    .gutter-sizer {
        width: 1.25%;
    }
}
