body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.filter-sort-area {
    margin-top: 10vh;
    padding: 5px 0;
    background-color: #f8f8f8;
    text-align: center;
}

.filters .label, .sorting .label {
    font-weight: bold;
    margin-right: 10px;
}

.button {
    padding: 8px 16px;
    margin: 5px;
    background-color: #f0f0f0; 
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.button:hover {
    background-color: #e0e0e0;
}

.button:focus, .button:active {
    outline: none; /* Removes the default outline */
    box-shadow: 0 0 0 2px #555; /* Adds a subtle outline */
}

.content, footer {
    width: calc(100% - 40px);
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.gallery {
    width: 100%;
    display: block;
}

.grid-sizer, .photo {
    width: 24%;
}

.gutter-sizer {
    width: 1.33%;
}

.photo {
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
}

.details {
    font-size: 0.8em;
    text-align: center;
    padding: 5px 0;
}

.exif {
    margin: 0 12px; 
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

@media (max-width: 600px) {
    .grid-sizer, .photo {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .grid-sizer, .photo {
        width: 49%;
    }
    .gutter-sizer {
        width: 2%;
    }
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .grid-sizer, .photo {
        width: 32%;
    }
    .gutter-sizer {
        width: 2%;
    }
}

@media (min-width: 2560px) {
    .grid-sizer, .photo {
        width: 19%;
    }
    .gutter-sizer {
        width: 1.25%;
    }
}

/* Style the modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same width as the image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

