body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;  /* 垂直居中所有子元素 */
    justify-content: center; /* 水平居中子元素 */
    height: 9vh;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    z-index: 1000; /* 确保导航栏在最上层 */
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;  /* 移除ul的默认外边距 */
    display: flex;  /* 使ul中的项目以Flexbox方式布局 */
    align-items: center;  /* 确保内容垂直居中 */
    justify-content: center;  /* 再次确保水平居中，对于内部元素的细微对齐 */
}

.navbar li {
    display: inline-block;
    margin: 10px 30px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.intro-section {
    width: 100%;
    height: 100vh; /* 视口高度 */
    background: url('images/background_1.jpg') no-repeat center center/cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.intro-section h1 {
    margin: 0;
    font-size: 2.5em;
}

.intro-section p {
    font-size: 1.2em;
}

.intro-section button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5a5a5a; /* 深灰色背景 */
    color: #fff;
    transition: background-color 0.3s;
}

.intro-section button:hover {
    background-color: #787878;
}
