body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.intro-section {
    width: 100%;
    height: 100vh;
    background: url('images/background_1.jpg') no-repeat center center/cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.intro-section h1 {
    margin: 0;
    font-size: 2.5em;
}

.intro-section p {
    font-size: 1.2em;
}

.intro-section button {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(90, 90, 90, 0.7); /* 深灰色背景，50% 透明度 */
    color: #fff;
    transition: background-color 0.3s;
}

.intro-section button:hover {
    background-color: #787878;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #666;
    padding: 10px 0;
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .intro-section h1 {
        font-size: 2em;
    }
    .intro-section p {
        display: none;
    }
    .intro-section button {
        margin-top: 60px;
    }
}